/* calendar */
.calendar {
    margin-top: 30px;
}

.calendar-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.calendar-item {
    margin: 15px;
}

.button.download {
    background-color: #010001;
    display: flex;
    justify-content: center;
    margin: 15px auto 0 auto;
    outline: none;
}

.button.download:hover {
    background-color: white;
    color: #010001;
}
